body {
    font-family: Arial, sans-serif;
}

.itemHolder {
    display: flex;
    justify-content: center;
    align-items: center;
}

.urlField {
    margin: 20px;
    margin-bottom: 10px;
    width: 80%;
    box-sizing: border-box;
    padding: 10px;
    background-color: #333; /* Dark background color */
    border: 2px solid #a4a3a3; /* Light grey border */
    color: #fff; /* Text color */
    font-size: 16px;
}

.urlField::placeholder {
    color: #a4a3a3; /* Placeholder text color */
}

.addItemButton {
    width: 30%;
    padding: 10px;
    margin: 20px;
    margin-top: 10px;
    background-color: #4CAF50; /* Green button color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    font-size: 16px;
}

.bigButton {
    width: 200px;
    padding: 10px;
    margin: 20px;
    margin-top: 10px;
    background-color: #4CAF50; /* Green button color */
    color: #fff; /* Button text color */
    border: none;
    cursor: pointer;
    font-size: 16px;
}

h1 {
    margin: 20px;
}

p {
    margin-left: 20px;
}

#menu-icon {
    cursor: pointer;
    font-size: 24px;
    padding: 10px;
    display: block;
    background-color: #4CAF50;
}

#menu {
    width: 250px;
    height: 100%;
    background-color: #333;
    position: fixed;
    left: -250px;
    top: 0;
    transition: left 0.3s ease;
}

#menu a {
    display: block;
    padding: 15px;
    text-decoration: none;
    color: #fff;
    font-size: 18px;
}

#content {
    margin-left: 0;
    transition: margin-left 0.3s ease;
    /*padding: 16px;*/
}

@media (max-width: 768px) {
    #menu {
        width: 80%;
    }

    #menu-icon {
        display: block;
    }
}

.container {
    display: flex;
    justify-content: center; /* Center horizontally */
    /* align-items: center;  */
    /* max-width: 100%; */
    overflow: hidden;
    background-color: bisque;
}

.image-container {
    flex: 1;
    max-width: 50%;
    background-color: brown;
    display: flex;
    justify-content: center;
    align-items: center;
}

.image-container img {
    background-color: aqua;
    width: 100%;
    max-width: 75%;
    /*height: auto;*/
    /*display: block;*/
    /*padding: 20px;*/
    /*border: 5px solid grey;*/
    /*border-radius: 30px;*/
    /*margin: 20px;*/
}

.info-container {
    flex: 1;
    max-width: 50%;
    padding: 20px;
    box-sizing: border-box;
    background-color: #4CAF50;
}

/* tiling structure */
.tile {
    position: relative;

    background-color: #fff; /* Set background color */
    border: 1px solid #ddd; /* Add border for visual separation */
    border-radius: 10px; /* Add border radius for rounded corners */
    margin: 1%;
    overflow: hidden; /* Hide overflowing content */
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1); /* Add shadow for depth */
    width: 200px;
    height: 200px;
    transition: all 0.3s ease;

    justify-content: center;
    align-items: center;
}

.tile:hover {
    transform: scale(1.1); /* Grow the tile on hover */
}

.tile:hover img{
    transform: scale(1.1); /* Grow the img on hover */
}

.tile img {
    width: 100%; /* Make image fill tile width */
    height: auto; /* Maintain aspect ratio */
    display: block; /* Prevent extra space below image */
    transition: all 0.3s ease;
}

.tile .content {
    width: 100%;
    position: absolute;
    bottom: 0;

    background-color: aquamarine;
    padding: 10px; /* Add padding to content */
    transition: font-size 0.3s ease; /* Add transition for smooth font-size change */
    line-height: 1.5; /* Set line-height for smoother vertical transition */
    display: flex;
    align-items: flex-end;
}

.tile h2 {
    margin: 0; /* Remove margin */
    font-size: 16px; /* Set font size */
    color: #333; /* Set font color */
    transition: font-size 0.1s ease;
}

.tile .price {
    font-weight: bold; /* Set font weight */
    color: #007bff; /* Set price color */
    /* transition: font-size 0.1s ease; */
}

/* grid container stuff */
.grid-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
  }

.tile {
background-color: #ccc;
aspect-ratio: 1;
}

.image-tile {
    height: 150px;
    width: 150px;
    aspect-ratio: 1;
    margin: 0;
    cursor: pointer;
}
