{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">{{ user }}'s wishlist</h1>
    {% if items|length < 1 %}
    <h4 style="text-align: center">There are no items. Create one below!</h4>
    {% else %}

    <button class="bigButton" onclick="newItemPage()" style="background-color: rgb(79, 204, 79);">Add an item</button>

    <div class="itemHolder">
        <table>
            <tr>
                <th>Item</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.url }}</td>
                    <td>{{ item.date_created.date() }}</td>
                    <td>
                        <a href="/view_item/{{item.id}}">View</a>
                        <br>
                        <a href="/delete/{{item.id}}">Delete</a>
                        <br>
                        <a href="/update/{{item.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    {% endif %}


    <script>
        function newItemPage() {
            var targetPageUrl = '/new';
            window.location.href = targetPageUrl;
        }
    </script>

</div>
{% endblock %}