{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1 style="text-align: center;">{{ user }}'s wishlist</h1>
    {% if items|length < 1 %}
    <h4 style="text-align: center">There are no items. Create one below!</h4>
    <button class="bigButton" onclick="newItemPage()" style="background-color: rgb(79, 204, 79);">Add your first item</button>
    {% else %}

    <button class="bigButton" onclick="newItemPage()" style="background-color: rgb(79, 204, 79);">Add an item</button>

    <div class="itemHolder">
        <table>
            <tr>
                <th>Item</th>
                <th>Added</th>
                <th>Actions</th>
            </tr>
            {% for item in items %}
                <tr>
                    <td>{{ item.url }}</td>
                    <td>{{ item.date_created.date() }}</td>
                    <td>
                        <a href="/view_item/{{item.id}}">View</a>
                        <br>
                        <a href="/delete/{{item.id}}">Delete</a>
                        <br>
                        <a href="/update/{{item.id}}">Update</a>
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>

    <div class="grid-container">
        {% for item in items %}
        <div class="tile">
            {% if item.image_link is none or item.image_link == "" or item.image_link == "None" or item.image_link == "Nonei" %}
            <img src="{{ url_for('static', filename='placeholder.jpg') }}" alt="Product Image">
            {% else %}
            <img src="{{ item.image_link }}" alt="Product Image">
            {% endif %}
            
            <div class="content">
                <h2>{{ item.url }}</h2> <!-- Title -->
                <div class="price">{{ item.date_created.date() }}</div> <!-- Price -->
            </div>
            
        </div>
        {% endfor %}
    </div>

    {% endif %}


    <script>
        function newItemPage() {
            var targetPageUrl = '/new_url';
            window.location.href = targetPageUrl;
        }
    </script>

</div>
{% endblock %}