{% extends 'base.html' %}

{% block body %}
<div class="content">
    <h1 style="text-align: center">List of user something</h1>
    {% if items|length < 1 %}
    <h4 style="text-align: center">User hasnt added any items yet</h4>
    {% else %}
    <table>
        <tr>
            <th>Item</th>
            <th>Added</th>
            <th>Check off</th>
        </tr>
        {% for item in items %}
            <tr>
                <td>{{ item.url }}</td>
                <td>{{ item.date_created.date() }}</td>
                <td>
                    <button type="button" onclick="checkOffItem('{{ item.id }}', this)" {% if item.checked_off %}disabled{% endif %}>
                        Check off
                    </button>
                </td>
            </tr>
        {% endfor %}
    </table>
    {% endif %}

</div>

<script>
    // function checkOffItem(itemId, button) {
    //     fetch(`/checkoff/${itemId}`, {
    //         method: 'POST',
    //         headers: {
    //             'Content-Type': 'application/json',
    //         },
    //         // include additional info later
    //         body: JSON.stringify({}),
    //     })
    //     .then(response => {
    //         if (!response.ok) {
    //             throw new Error('Network response was not ok');
    //         }
    //         button.disabled = true;
    //         return response.json();
    //     })
    //     .then(data => {
    //         // Handle the response from the server if needed
    //         console.log(data);
    //     })
    //     .catch(error => {
    //         console.error('There was a problem with the fetch operation:', error);
    //     });
    // }

</script>

{% endblock %}