{% extends 'base.html' %}

{% block body %}
<div class="content">

    <button class="bigButton" onclick="editItem()" data-item-id="{{ item.id }}" style="background-color: rgb(79, 204, 79);">Edit this item</button>
    
    <div class="content">
        <h1 style="text-align: center">View of item</h1>
        
        <h4 style="text-align: center">something about the item</h4>
        
        <p>item name: {{ item.name }}</p>
        <p>item url: {{ item.url }}</p>
        <p>item image link: {{ item.image_link }}</p>
        <p>item notes: {{ item.notes }}</p>
        <p>item id: {{ item.id }}</p>
        <p>item date: {{ item.date_created }}</p>
        <p>item checked: {{ item.checked_off }}</p>
        <p>item owner id: {{ item.user_id }}</p>

        <img src="{{ item.image_link}}">
        <img src="https://images-eu.ssl-images-amazon.com/images/I/81+ebc5fVZL._AC_UL348_SR348,348_.jpg">
    </div>
    
    
    <script>
        function editItem() {
            var itemId = document.querySelector("[data-item-id]").getAttribute("data-item-id");
            var targetPageUrl = '/edit_item/' + itemId;
            window.location.href = targetPageUrl;
        }
        </script>
</div>


{% endblock %}